---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/geo?key=&output=csv&q=Kortumstra%C3%9Fe%2019-21,%2044789%20Bochum
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! "{\n  \"name\": \"Kortumstraße 19-21, 44789 Bochum\",\n  \"Status\":
        {\n    \"code\": 200,\n    \"request\": \"geocode\"\n  },\n  \"Placemark\":
        [ {\n    \"id\": \"p1\",\n    \"address\": \"Kortumstraße 19, 44787 Bochum,
        Germany\",\n    \"AddressDetails\": {\n   \"Accuracy\" : 8,\n   \"Country\"
        : {\n      \"AdministrativeArea\" : {\n         \"AdministrativeAreaName\"
        : \"Nordrhein-Westfalen\",\n         \"SubAdministrativeArea\" : {\n            \"Locality\"
        : {\n               \"LocalityName\" : \"Bochum\",\n               \"PostalCode\"
        : {\n                  \"PostalCodeNumber\" : \"44787\"\n               },\n
        \              \"Thoroughfare\" : {\n                  \"ThoroughfareName\"
        : \"Kortumstraße 19\"\n               }\n            },\n            \"SubAdministrativeAreaName\"
        : \"Arnsberg\"\n         }\n      },\n      \"CountryName\" : \"Deutschland\",\n
        \     \"CountryNameCode\" : \"DE\"\n   }\n},\n    \"ExtendedData\": {\n      \"LatLonBox\":
        {\n        \"north\": 51.4785990,\n        \"south\": 51.4759010,\n        \"east\":
        7.2177790,\n        \"west\": 7.2150810\n      }\n    },\n    \"Point\": {\n
        \     \"coordinates\": [ 7.2164300, 51.4772500, 0 ]\n    }\n  } ]\n}\n"
  recorded_at: Sat, 28 Apr 2012 12:40:46 GMT
recorded_with: VCR 2.1.1
