%header.clearfix
  %h1#logo
    = link_to 'Digital Media Map // NRW', root_path
  %ul#nav
    %li
      %a{:title => "Karte", :href => root_path } » Karte
    %li
      %a{:title => "Liste", :href => companies_path } » Liste
    %li
      %a{:title => "Über uns", :href => about_path } » Über uns
    %li
      %a{:title => "Impressum", :href => imprint_path } » Impressum
