%header.clearfix
  %h1#logo
    = link_to 'Digital Media Map // NRW', root_path
  %ul#nav
    %li
      %a{:title => "Karte", :href => "#"} » Karte
    %li
      %a{:title => "Liste", :href => "#"} » Liste
    %li
      %a{:title => "Über uns", :href => "#"} » Über uns
    %li
      %a{:title => "Impressum", :href => "#"} » Impressum
