%header.clearfix
  %h1
    Digital Media Map // NRW
  %ul#nav
    %li
      %a{:title => "Karte", :href => "#"} » Karte
    %li 
      %a{:title => "Liste", :href => "#"} » Liste
    %li 
      %a{:title => "Über uns", :href => "#"} » Über uns
    %li 
      %a{:title => "Impressum", :href => "#"} » Impressum
#map-canvas