= render :partial => 'shared/header'
#container
  %h2
    Über uns
  %h3
    Wer wir sind, was wir machen blabla
  .clearfix
    #content
      %p Digital Media Map NRW is a joint project of MEDIEN.NRW – The Media Cluster of North Rhine-Westphalia, 9elements, Railslove and Coworking Cologne.
      %p Presenting digital media industry in the region of North Rhine-Westphalia (NRW) by a web-based service tool, the Digital Media Map NRW aims at visualizing and networking companies from all media branches as well as bolt-on services for the first time.
      %p Filter functionalities guarantee quickly accessible information, e.g. for companies searching for business partners, investors looking for startups or firms from other countries monitoring media industry clusters and eliciting on where to settle in NRW, Germany´s biggest regions with regards to population and economic power.
      %p 
        Digital Media Map NRW was created and realized during 
        %a{ :href => "http://www.hackathon.advance-conference.com/en"}„ADVANCE HACKATHON“, 
        an 48 hour coding event that took place April 27-29, 2012. The event featured over 80 of the finest coders from NRW and beyond, assembling at Coworkingspace Gasmotorenfabrik in Cologne. The objective: networking the most talented web & app developers and designers for kicking-off own or others projects, refine or complete code collaboratively or: just to experiment along - preferably open source. The participants joined in from all over NRW and beyond - from Cologne, Düsseldorf, Bochum, Dortmund, Aachen but also from Luxembourg or Serbia.
      %p Filter functionalities guarantee quickly accessible information, e.g. for companies searching for business partners, investors looking for startups or firms from other countries monitoring media industry clusters and eliciting on where to settle in NRW, Germany´s biggest regions with regards to population and economic power.
      %p The projects featured a wide variety of projects, from open data and crowdfunding services over games to open source photo sharing site or a lego step sequenzer (for a full list of projects and their outcomes see www.bit.ly/ADVANCE-github).
      
    %ul.sidebar
      %li
        %p The ADVANCE HACKATHON was hosted by MEDIEN.NRW - The Media Cluster of North Rhine-Westphalia in close cooperation with partners 9elements, Railslove and Coworking Cologne.
