%header.clearfix
  %h1
    Digital Media Map // NRW
  %ul#nav
    %li
      %a{:title => "Karte", :href => "#"} » Karte
    %li 
      %a{:title => "Liste", :href => "#"} » Liste
    %li 
      %a{:title => "Über uns", :href => "#"} » Über uns
    %li 
      %a{:title => "Impressum", :href => "#"} » Impressum
.container
  %h2
    Impressum 
  .clearfix
    .content
      %p.br Angaben gemäß § 5 TMG: 
      %p.br e. V.
      %p.br Deutz-Mülheimer Str
      %p 50000 Köln
      
      %p.br Vertreten durch: 
      %p.br hier vollständiger Vor- und Nachname der vertretungsberechtigen Personen
      %p.br Kontakt:
      %p.br Telefon: 0221 -----
      %p.br Telefax: 0221 -----
      %p E-Mail: info@coworking-cologne.de
      
      %p.br Registereintrag: 
      %p.br Eintragung im Vereinsregister
      %p.br Registergericht: Registergericht
      %p Registernummer: Registenummer
      
      %p.br Umsatzsteuer-ID: 
      %p.br Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
      %p Umsatzsteuer-ID
      
      %p.br Wirtschafts-Identifikationsnummer: 
      %p.br Wirtschafts-Identifikationsnummer gemäß §139 c Abgabenordnung:
      %p Wirtschaft-ID
      
      %p.br Aufsichtsbehörde: 
      %p Aufsichtsbehörde
      
      %p
        %a{:title => "Quelle", :href => "http://www.e-recht24.de"} http://www.e-recht24.de, Impressum Generator