= render :partial => 'shared/header'
#container
  %h2
    Imprint
  .clearfix
    #content
      %p Openness: By contributing your data to Digital Media Map NRW you automatically agree to subsequent use by third parties under the Creative Commons licence (CC BY-SA).
      
      %h4
        Copyright and License
      %p Digital Media Map NRW is open data, licensed under the Creative Commons Attribution-ShareAlike 2.0 licence (CC BY-SA).
      %p You are free to copy, distribute, transmit and adapt our maps and data, as long as you credit Digital Media Map NRW and its contributors. If you alter or build upon our maps or data, you may distribute the result only under the same licence. The full legal code explains your rights and responsibilities.
      
      %h4
        How to credit Digital Media Map NRW
      %p If you are using Digital Media Map NRW images, we request that your credit reads at least “© Digital Media Map NRW contributors, CC BY-SA”. If you are using map data only, we request “Map data © Digital Media Map NRW contributors, CC BY-SA”.
      %p Where possible, Digital Media Map NRW should be hyperlinked to http://www.dmm-NRW.org and CC BY-SA to http://creativecommons.org/licenses/by-sa/2.0/. If you are using a medium where links are not possible (e.g. a printed work), we suggest you direct your readers to www.dmm-NRW.org (perhaps by expanding ‘Digital Media Map NRW’ to this full address) and to www.creativecommons.org.
      
      %h4
        Finding out more
      %p Read more about using our data at the Legal FAQ.
      %p DMM NRW contributors are reminded never to add data from any copyrighted sources (e.g. Google Maps or printed maps) without explicit permission from the copyright holders.
      %p Although DMM NRW is open data, we cannot provide a free-of-charge map API for third-party developers. See our API Usage Policy, Tile Usage Policy and Nominatim Usage Policy.
      
      %h4
        Our contributors
      %p Our CC BY-SA licence requires you to “give the Original Author credit reasonable to the medium or means You are utilising”. Individual DMM NRW mappers do not request a credit over and above that to “Digital Media Map NRW contributors”, but where data from a national mapping agency or other major source has been included in Digital Media Map NRW, it may be reasonable to credit them by directly reproducing their credit or by linking to it on this page.
      %p.br Australia: Contains suburb data based on Australian Bureau of Statistics data.
      %p.br Austria: Contains data from Stadt Wien (under CC BY) and Land Vorarlberg.
      %p.br Canada: Contains data from GeoBase®, GeoGratis (© Department of Natural Resources Canada), CanVec (© Department of Natural Resources Canada), and StatCan (Geography Division, Statistics Canada).
      %p.br France: Contains data sourced from Direction Générale des Impôts.
      %p.br Netherlands: Contains © AND data, 2007 (www.and.com)
      %p.br New Zealand: Contains data sourced from Land Information New Zealand. Crown Copyright reserved.
      %p.br Poland: Contains data from UMP-pcPL maps. Copyright UMP-pcPL contributors. More about OSM's use of UMP data
      %p.br South Africa: Contains data sourced from Chief Directorate: National Geo-Spatial Information, State copyright reserved.
      %p.br United Kingdom: Contains Ordnance Survey data © Crown copyright and database right 2010.
      %p.br Inclusion of data in Digital Media Map NRW does not imply that the original data provider endorses Digital Media Map NRW, provides any warranty, or accepts any liability.
      