= render :partial => 'shared/header'

#container
  %h1 Create a new company
  #content= render 'form'

  %ul.sidebar.companies-new
    %li
      %h4 Add Company to Map
      %p
        By adding your company to the database you create a win-win situation. You benefit from being easily found by a potential business partner and the public / community has a nicely visualized networking tool at hand. The whole process will take you not longer than 3 minutes.
    %li
      %h4 Filter Categories
      %p
        Filter functionalities guarantee quickly accessible information. So it would be great, if you could provide the following information next to your general company data:
      %ol
        %li
          Your digital media industry focus
          (please select only one main category and a maximum of 3 sub categories)
        %li
          Your funding and/or personnel search request
          (please mark the respective boxes if applicable)
        %li
          Your offer/ your request: What is your offer and what kind of business partners / individuals are you looking for?
          (please use max. 140 characters each)
