html, body
  margin: 0
  padding: 0
  height: 100%

#map-canvas
  position: absolute
  left: 0px
  top: 48px
  width: 100%
  height: 100%

.company-overlay
  position: absolute
  border: 1px solid #a7a7a7
  width: 300px
  height: 400px
  position: absolute
  +background(none, linear-gradient(color-stops(#e8e8e8, #ffffff)))

.company-overlay-container
  position: relative

.company-overlay-content
  position: absolute
  margin: 5px

.company-overlay-arrow
  position: absolute
  background: transparent url(asset_path('overlay-arrow.png', image)) top left no-repeat
  left: 154px
  top: 400px
  width: 39px
  height: 21px

#filter-panel
  position: absolute
  top: 0
  right: 0
  width: 300px
  height: 100%
  background: #fff
