@font-face {
    font-family: 'ConduitITCBold';
    src: url('/fonts/conduititc-bold-webfont.eot');
    src: url('/fonts/conduititc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/conduititc-bold-webfont.woff') format('woff'),
         url('/fonts/conduititc-bold-webfont.ttf') format('truetype'),
         url('/fonts/conduititc-bold-webfont.svg#ConduitITCBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConduitITCLight';
    src: url('/fonts/conduititc-light-webfont.eot');
    src: url('/fonts/conduititc-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/conduititc-light-webfont.woff') format('woff'),
         url('/fonts/conduititc-light-webfont.ttf') format('truetype'),
         url('/fonts/conduititc-light-webfont.svg#ConduitITCLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background:#fff;
  font-family:Arial, serif;
  color:#878787;
  margin:0;
  padding:0 0 0 0;
}
h1, h2, h3, h4 {
  font-weight:400;
}
a, a:link, a:active, a:visited, a:hover {
  color:#878787;
}
p {
  line-height:22px;
  font-size:13px;
  margin:0 0 15px 0;
  padding:0;
}
p.br {
  margin:0;
}
ul, ol {
  margin:0;
  padding:0;
}
ul li, ol li {
  list-style-type:none;
}
header {
  z-index:9999;
  display:block;
  padding:10px 0;
  width:100%;
  background-color:#fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #fff);
  background-image:    -moz-linear-gradient(top, #f2f2f2, #fff);
  background-image:     -ms-linear-gradient(top, #f2f2f2, #fff);
  background-image:      -o-linear-gradient(top, #f2f2f2, #fff);
  background-image:         linear-gradient(to bottom, #f2f2f2, #fff);
  -webkit-box-shadow:0 8px 20px 0px #e6e6e6;
  -moz-box-shadow:0 8px 20px 0px #e6e6e6;
  box-shadow:0 8px 20px 0px #e6e6e6;
}
header h1 {
  text-transform:uppercase;
  color:#13a2df;
  font-size:32px;
  font-family:'ConduitITCBold', Helvetica, Arial;
  margin:0;
  padding:0 0 0 10px;
  float:left;
}
ul#nav {
  float:left;
  margin-left: 20px;
}
ul#nav li {
  float:left;
  padding: 10px;
  font-size:13px;
  border-radius:7px;
  margin-right: 20px;
}
ul#nav li a, ul#nav li a:link, ul#nav li a:active, ul#nav li a:visited {
  text-decoration:none;
  color:#b7b7b7;
}
ul#nav li.active {
  background: #13a2df;
}
ul#nav li.active a{
  color: #fff;
}
.clearfix {
  display: inline-block;
}

/* START */
form#company_search input#search_name_contains {
  width:205px;
  padding:5px 5px 5px 25px;
  color:#ababab;
  text-decoration:none;
  background-color:#ffffff;
  background-image:url(/assets/search.jpg);
  background-repeat:no-repeat;
  background-position:6px 4px;
  -webkit-border-radius:15px;
  border-radius:15px;
  -webkit-box-shadow:0px 0px 4px 0px #e2e2e2;
  box-shadow:0px 0px 4px 0px #e2e2e2;
}
form#company_search li {
  background-color:#e8e8e8;
  overflow:hidden;
  padding:8px;
}
form#company_search label {
  width:auto;
  float:left;
}
input[type="checkbox"] {
  background-color:#000;
  padding:0;
  width:30px;
  float:right;
}

.tags_for_category li {
  list-style: none;
}
#container {
  width:830px;
  padding:25px;
}
#container h2, #container h1 {
  margin-top:0;
  margin-bottom:20px;
  padding-top:0;
  font-size:26px;
}
#container h3 {
  margin:30px 0 20px 0;
  font-size:20px;
}
#container h4 {
  margin:20px 0 20px 0;
  font-size:15px;
  font-weight:700;
}
#content {
  width:450px;
  padding:0 0 30px 0;
  float:left;
}
ul.sidebar {
  width:275px;
  float:left;
  margin:0 0 0 25px;
}
ul.sidebar li {
  margin:0 0 25px 0;
  padding:20px;
  background-color:#fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#fff));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #fff);
  background-image:    -moz-linear-gradient(top, #e7e7e7, #fff);
  background-image:     -ms-linear-gradient(top, #e7e7e7, #fff);
  background-image:      -o-linear-gradient(top, #e7e7e7, #fff);
  background-image:         linear-gradient(to bottom, #e7e7e7, #fff);
  border:1px solid #c7c7c7;
}
ul.sidebar li h4 {
  margin:0 0 20px 0;
  padding:0;
  font-size:18px;
  font-style:italic;
}
ul.sidebar li p {
  margin:0;
}
ul.companies-new {
  margin-top:33px;
}
.functions {
  display: block;
  height:60px;
  margin:-45px 0 0 0;
}
.functions a, .functions a:link, .functions a:visited, .functions a:active {
  position:relative;
  float:right;
  padding:10px 45px;
  color:#fff;
  background-color:#0183c9;
  text-align:center;
  -webkit-border-radius:5px;
  border-radius:5px;
  text-decoration:none;
  border:1px solid #239ed4;
  -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
       -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
           transition: all 0.3s ease-out;
}
.functions a:hover, form li.list_action a:hover, form button:hover {
  background-color:#239ed4;
}
table {
  width:100%;
  border:1px solid #c7c7c7;
  border-spacing:0;
}
tr {
  border-bottom:1px solid #c7c7c7;
  margin:0;
  background-color:#fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#fff));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #fff);
  background-image:    -moz-linear-gradient(top, #e7e7e7, #fff);
  background-image:     -ms-linear-gradient(top, #e7e7e7, #fff);
  background-image:      -o-linear-gradient(top, #e7e7e7, #fff);
  background-image:         linear-gradient(to bottom, #e7e7e7, #fff);
}

.hide {
  display: none;
}
thead {
  margin:0;
  padding:0;
}

th {
  padding:20px 20px;
}
td {
  border-right: 1px solid #c7c7c7;
  padding: 20px;
}
tbody tr:last-child, td:last-child {
  border:0;
}
label {
  font-size:13px;
  margin:8px 0;
  display:block;
}
form input, form textarea, form select {
  width:430px;
  padding:8px;
  border:1px solid #c7c7c7;
  background-color:#fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#fff));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #fff);
  background-image:    -moz-linear-gradient(top, #e7e7e7, #fff);
  background-image:     -ms-linear-gradient(top, #e7e7e7, #fff);
  background-image:      -o-linear-gradient(top, #e7e7e7, #fff);
  background-image:         linear-gradient(to bottom, #e7e7e7, #fff);
}
form textarea {
  height: 100px;
}
form select {
  width: 447px;
}
legend {
  display:none;
}
fieldset {
  border:0;
  padding:0;
  margin:0;
}
form button, 
form li.link_action a {
  cursor:pointer;
  position:relative;
  float:right;
  padding:10px 45px;
  margin:25px 0 0 15px;
  font-size:12px;
  color:#ffffff;
  background-color:#0183c9;
  text-align:center;
  -webkit-border-radius:5px;
  border-radius:5px;
  text-decoration:none;
  border:1px solid #239ed4;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
form li.link_action a:link, form li a:active, form li a:visited {
  color:#ffffff;
}
